.dialog {
    padding: 10px;
}

.dialog a.active {
    color: chocolate;
    margin-bottom: 20px;

}

.dialog img {
    width: 40px;
    border-radius: 30px;
    padding: 10px;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialogsItems {

}