.header{
    grid-area: h;
    /*background-color: greenyellow;*/
    /*background-color: #415d97;*/
    background-color: #e3810d;
  }
  .header img{
    width: 60px;
  }

.loginBlock {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.loginBlock a {
    color: white;
}
.loginBlock a.active {
    color: white;
}