.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.messages {
    padding: 10px;
}

.message {

}

.dialog a.active {
    /*color: chocolate;*/
    /*margin-bottom: 20px;*/
}

.dialogsItems {
}